* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 70px 1fr;

    grid-template-areas: 
        "aside header" 
        "aside content";

    min-height: 100vh;
    width: 100%;
}

button {
    font: inherit;
}

.main-content {
    grid-area: content;
    padding: 2rem;
    overflow-y: auto;
}

.menu-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
    padding: 0.75rem 1rem; 
}

.menu-button:hover {
    background-color: #2a2a2a;
    color: white;
}

.header {
    grid-area: header;
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    
}

.side-menu {
    grid-area: aside;
    background-color: #121212;
    height: 100%;
}